# Cleaning Finance Data in Python

______________________________________________________________________________________
First we must import pandas, pd will be synonymous with pandas from this point forward.

In [28]:
#import pandas as pd

______________________________________________________________________________________
Now we will identify the desired URL, and create "location" which we can plug into pandas.read (pd.read)

In [29]:
location='https://github.com/PUBPOL-542-Group-1-Project/Nick-Copeland/blob/main/Data/Report%20Card%20Per%20Pupil%20Finance%20Data%202018-19%20(1)%20(2).xlsx?raw=true'
fin=pd.read_excel(location)

______________________________________________________________________________________
Let's take a look and see what kind of formatting the original file has:

In [30]:
fin.info

<bound method DataFrame.info of       SchoolYear OrganizationalLevel  Organizationid        County  \
0        2018-19            District          100010  Grays Harbor
1        2018-19            District          100010  Grays Harbor
2        2018-19            District          100010  Grays Harbor
3        2018-19            District          100010  Grays Harbor
4        2018-19            District          100010  Grays Harbor
...          ...                 ...             ...           ...
42183    2018-19               State          103300      Multiple
42184    2018-19               State          103300      Multiple
42185    2018-19               State          103300      Multiple
42186    2018-19               State          103300      Multiple
42187    2018-19               State          103300      Multiple

                      ESDName  ESDORganizationID  DistrictCode  \
0      Capital Region ESD 113           100004.0         14005
1      Capital Region ESD 113           100004.0         14005
2      Capital Region ESD 113           100004.0         14005
3      Capital Region ESD 113           100004.0         14005
4      Capital Region ESD 113           100004.0         14005
...                       ...                ...           ...
42183             State Total                0.0             0
42184             State Total                0.0             0
42185             State Total                0.0             0
42186             State Total                0.0             0
42187             State Total                0.0             0

                   DistrictName  DistrictORganizationID  SchoolCode  \
0      Aberdeen School District                  100010           0
1      Aberdeen School District                  100010           0
2      Aberdeen School District                  100010           0
3      Aberdeen School District                  100010           0
4      Aberdeen School District                  100010           0
...                         ...                     ...         ...
42183               State Total                       0           0
42184               State Total                       0           0
42185               State Total                       0           0
42186               State Total                       0           0
42187               State Total                       0           0

           SchoolName  SchoolOrganizationId PersonnelFlag       Source  \
0      District Total                     0  NonPersonnel      Federal
1      District Total                     0  NonPersonnel      Federal
2      District Total                     0  NonPersonnel      Federal
3      District Total                     0  NonPersonnel      Federal
4      District Total                     0  NonPersonnel      Federal
...               ...                   ...           ...          ...
42183     State Total                     0  NonPersonnel  State/Local
42184     State Total                     0  NonPersonnel  State/Local
42185     State Total                     0  NonPersonnel  State/Local
42186     State Total                     0     Personnel      Federal
42187     State Total                     0     Personnel  State/Local

       EnrollmentTotal                    Activity   Expenditure      DataAsOf
0              3479.42              Administration  0.000000e+00  2018-19Final
1              3479.42                 Instruction  2.412989e+05  2018-19Final
2              3479.42       Instructional Support  7.324499e+04  2018-19Final
3              3479.42        School Food Services  1.021709e+06  2018-19Final
4              3479.42  Maintenance and Operations  0.000000e+00  2018-19Final
...                ...                         ...           ...           ...
42183       1119010.74  Maintenance and Operations  6.064682e+08  2018-19Final
42184       1119010.74               Other Service  1.157654e+08  2018-19Final
42185       1119010.74              Public Actives  1.496495e+07  2018-19Final
42186       1119010.74                   Personnel  4.665821e+08  2018-19Final
42187       1119010.74                   Personnel  1.281321e+10  2018-19Final

[42188 rows x 18 columns]>

______________________________________________________________________________________
18 columns? At least half of these variables are unimportant.  Let's use info with a () to view the data types for each column:

In [31]:
fin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42188 entries, 0 to 42187
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   SchoolYear              42188 non-null  object
 1   OrganizationalLevel     42188 non-null  object
 2   Organizationid          42188 non-null  int64
 3   County                  42188 non-null  object
 4   ESDName                 41985 non-null  object
 5   ESDORganizationID       41985 non-null  float64
 6   DistrictCode            42188 non-null  int64
 7   DistrictName            42188 non-null  object
 8   DistrictORganizationID  42188 non-null  int64
 9   SchoolCode              42188 non-null  int64
 10  SchoolName              42188 non-null  object
 11  SchoolOrganizationId    42188 non-null  int64
 12  PersonnelFlag           42188 non-null  object
 13  Source                  42188 non-null  object
 14  EnrollmentTotal         42188 non-null  float64
 15  Activity                42188 non-null  object
 16  Expenditure             42188 non-null  float64
 17  DataAsOf                42188 non-null  object
dtypes: float64(3), int64(5), object(10)
memory usage: 5.8+ MB

______________________________________________________________________________________
Before we begin making our changes and removing columns, let's create a copy so we can still access our original dataset if necessary. Using ".copy()" attached to our original filename, equal "=" to the new name, will serve this purpose.

In [32]:
fin1=fin.copy()

______________________________________________________________________________________
Now we'll drop columns using the ".drop" command, and ".iloc" to identify which columns we would like to drop.  Keep in mind the formatting for ".iloc", [Rows, [columns separated by a colon to indicate a range, or commas to indicate discrete values]]. Also, axis=1 signifies that we are referring to the columns (axis=0 would be rows), and inplace means we are putting something "inplace" of what we had before.  In this case, we're replacing the original columns 1 and 17 with nothing "drop".

In [33]:
fin1.drop(fin1.iloc[:,[0,17]], axis=1, inplace=True)

______________________________________________________________________________________
Let's see if it worked.

In [34]:
fin1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42188 entries, 0 to 42187
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   OrganizationalLevel     42188 non-null  object
 1   Organizationid          42188 non-null  int64
 2   County                  42188 non-null  object
 3   ESDName                 41985 non-null  object
 4   ESDORganizationID       41985 non-null  float64
 5   DistrictCode            42188 non-null  int64
 6   DistrictName            42188 non-null  object
 7   DistrictORganizationID  42188 non-null  int64
 8   SchoolCode              42188 non-null  int64
 9   SchoolName              42188 non-null  object
 10  SchoolOrganizationId    42188 non-null  int64
 11  PersonnelFlag           42188 non-null  object
 12  Source                  42188 non-null  object
 13  EnrollmentTotal         42188 non-null  float64
 14  Activity                42188 non-null  object
 15  Expenditure             42188 non-null  float64
dtypes: float64(3), int64(5), object(8)
memory usage: 5.2+ MB

______________________________________________________________________________________
We still have some unimportant columns in our dataframe.  Let's continue dropping these using the same process we used before:

In [36]:
fin1.drop(fin1.iloc[:,[0,1,3,4,7,10,11]], axis=1, inplace=True) #drop columns 0, 1, 3, 4, 7, 10, 11,  "orglevel, orgID, ESDname, ESDorganizationID, DistrictORganizationID, schoolorganizationID, and PersonnelFlag"

______________________________________________________________________________________
Let's take a look at our data without the excess columns:

In [37]:
fin1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42188 entries, 0 to 42187
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   County           42188 non-null  object
 1   DistrictCode     42188 non-null  int64
 2   DistrictName     42188 non-null  object
 3   SchoolCode       42188 non-null  int64
 4   SchoolName       42188 non-null  object
 5   Source           42188 non-null  object
 6   EnrollmentTotal  42188 non-null  float64
 7   Activity         42188 non-null  object
 8   Expenditure      42188 non-null  float64
dtypes: float64(2), int64(2), object(5)
memory usage: 2.9+ MB

______________________________________________________________________________________
Looks much better now.  We have County, enough information regarding district, school code/name, source of funding, enrollment total for each school, and the activity/amount of money spent on the activity.  The rest was excessive. We're almost done! But I seem to recall some excess data points towards the end of our data set...

In [40]:
fin1.tail()

,County,DistrictCode,DistrictName,SchoolCode,SchoolName,Source,EnrollmentTotal,Activity,Expenditure
42183,Multiple,0,State Total,0,State Total,State/Local,1119010.74,Maintenance and Operations,6.064682e+08
42184,Multiple,0,State Total,0,State Total,State/Local,1119010.74,Other Service,1.157654e+08
42185,Multiple,0,State Total,0,State Total,State/Local,1119010.74,Public Actives,1.496495e+07
42186,Multiple,0,State Total,0,State Total,Federal,1119010.74,Personnel,4.665821e+08
42187,Multiple,0,State Total,0,State Total,State/Local,1119010.74,Personnel,1.281321e+10

______________________________________________________________________________________
I knew it! We don't want any of these aggregate entries in the final rows of our data.  What do they all have in common? Well they all share the "Multiple" designation in their county column. Let's create a new dataframe from the old one, but in this new one, we'll remove any row that has a string "str" which contains "str.contains" the word "Multiple".  We do this by inputting the tilde in front of fin1, meaning we want everything from fin1 BUT the rows with a string of text that says "Multiple" in the county column:

In [38]:
fin2=fin1[~fin1.County.str.contains("Multiple")]

______________________________________________________________________________________
Let's see if this worked by checking out the final entries in our new "fin2" dataframe (this is where we had the unwanted aggregated entries "multiple")

In [39]:
fin2.tail()

,County,DistrictCode,DistrictName,SchoolCode,SchoolName,Source,EnrollmentTotal,Activity,Expenditure
42167,Skagit,29103,Anacortes School District,5588,Open Doors,State/Local,10.9,School Food Services,0.000000
42168,Skagit,29103,Anacortes School District,5588,Open Doors,State/Local,10.9,Pupil Transportation,408.401192
42169,Skagit,29103,Anacortes School District,5588,Open Doors,State/Local,10.9,Maintenance and Operations,4897.681124
42170,Skagit,29103,Anacortes School District,5588,Open Doors,State/Local,10.9,Other Service,625.167693
42171,Skagit,29103,Anacortes School District,5588,Open Doors,State/Local,10.9,Public Actives,11.587718

______________________________________________________________________________________
SUCCESS! Let's check out all the datatypes and confirm that we're done using our fin2.info()

In [41]:
fin2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42172 entries, 0 to 42171
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   County           42172 non-null  object
 1   DistrictCode     42172 non-null  int64
 2   DistrictName     42172 non-null  object
 3   SchoolCode       42172 non-null  int64
 4   SchoolName       42172 non-null  object
 5   Source           42172 non-null  object
 6   EnrollmentTotal  42172 non-null  float64
 7   Activity         42172 non-null  object
 8   Expenditure      42172 non-null  float64
dtypes: float64(2), int64(2), object(5)
memory usage: 3.2+ MB

______________________________________________________________________________________
Looking good...Let's check with our groupmates to make sure we have all the necessary columns for merging.

So we checked with our groupmates and they would like us to make the following changes: 
1. round all our expenditures to a single decimal point
2. remove every column BESIDES school code and expenditure
3. sum the expenditures by school code, so we know how much each school spent in total for 2018-2019
4. make expenditure int64 instead of float64, so we can have whole numbers for expenditures and cleaner data in general.

Steps 1-4 are as follows:

______________________________________________________________________________________
STEP 1:  round all our expenditure values

In [43]:
fin2.Expenditure=fin2.Expenditure.round(1)

C:\Users\nrcop\anaconda3\lib\site-packages\pandas\core\generic.py:5168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

______________________________________________________________________________________
Step 1 continued: check to see that it worked

In [45]:
fin2

,County,DistrictCode,DistrictName,SchoolCode,SchoolName,Source,EnrollmentTotal,Activity,Expenditure
0,Grays Harbor,14005,Aberdeen School District,0,District Total,Federal,3479.42,Administration,0.0
1,Grays Harbor,14005,Aberdeen School District,0,District Total,Federal,3479.42,Instruction,241298.9
2,Grays Harbor,14005,Aberdeen School District,0,District Total,Federal,3479.42,Instructional Support,73245.0
3,Grays Harbor,14005,Aberdeen School District,0,District Total,Federal,3479.42,School Food Services,1021709.2
4,Grays Harbor,14005,Aberdeen School District,0,District Total,Federal,3479.42,Maintenance and Operations,0.0
...,...,...,...,...,...,...,...,...,...
42167,Skagit,29103,Anacortes School District,5588,Open Doors,State/Local,10.90,School Food Services,0.0
42168,Skagit,29103,Anacortes School District,5588,Open Doors,State/Local,10.90,Pupil Transportation,408.4
42169,Skagit,29103,Anacortes School District,5588,Open Doors,State/Local,10.90,Maintenance and Operations,4897.7
42170,Skagit,29103,Anacortes School District,5588,Open Doors,State/Local,10.90,Other Service,625.2
42171,Skagit,29103,Anacortes School District,5588,Open Doors,State/Local,10.90,Public Actives,11.6

______________________________________________________________________________________
See that the final column now has everything in tens of cents.

______________________________________________________________________________________
Step 2: remove every column that's not school code and expenditures

In [46]:
fin2=fin2[['SchoolCode', 'Expenditure']]

In [47]:
fin2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42172 entries, 0 to 42171
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SchoolCode   42172 non-null  int64
 1   Expenditure  42172 non-null  float64
dtypes: float64(1), int64(1)
memory usage: 988.4 KB

______________________________________________________________________________________
Bye bye extraneous data. On to step 3:

______________________________________________________________________________________
Step 3: Sum expenditures by school code and put it in a new fin copy:

In [48]:
fin3 = fin2.groupby(["SchoolCode"]).Expenditure.sum().reset_index()

In [50]:
fin3

      SchoolCode   Expenditure
0              0  1.590417e+10
1           1500  2.610360e+05
2           1502  2.162589e+06
3           1506  9.329199e+05
4           1508  2.656577e+06
...          ...           ...
2375        5563  4.804910e+04
2376        5588  2.269740e+04
2377        5958  2.665958e+06
2378        5960  2.058463e+06
2379        5961  3.497937e+06

[2380 rows x 2 columns]

______________________________________________________________________________________
We cut down our number of rows by a factor of 20.  Also, we now have 1 row per school, each with its own school code and total expenditure amount.  How neat! Onward to step 4:

______________________________________________________________________________________
Step 4: Convert to int64 formatting and get rid of these infernal scientific notations:

In [51]:
fin3.Expenditure=fin3.Expenditure.astype('int64')

In [52]:
fin3

      SchoolCode  Expenditure
0              0  15904165929
1           1500       261036
2           1502      2162588
3           1506       932919
4           1508      2656577
...          ...          ...
2375        5563        48049
2376        5588        22697
2377        5958      2665957
2378        5960      2058462
2379        5961      3497937

[2380 rows x 2 columns]

______________________________________________________________________________________
All done with our groupmates requests.  Now to convert to an csv file and be done with this:

In [53]:
fin3.to_csv('Finance_Report_Card_Clean.csv')