In [1]:
import pandas as pd

In [2]:
location='https://github.com/nrcopela/PUBPOL-542/raw/main/Report%20Card%20Per%20Pupil%20Finance%20Data%202018-19%20(1).xlsx'
finance=pd.read_excel(location)

In [3]:
finance.info

<bound method DataFrame.info of       SchoolYear OrganizationalLevel  Organizationid        County  \
0        2018-19            District          100010  Grays Harbor
1        2018-19            District          100010  Grays Harbor
2        2018-19            District          100010  Grays Harbor
3        2018-19            District          100010  Grays Harbor
4        2018-19            District          100010  Grays Harbor
...          ...                 ...             ...           ...
42183    2018-19               State          103300      Multiple
42184    2018-19               State          103300      Multiple
42185    2018-19               State          103300      Multiple
42186    2018-19               State          103300      Multiple
42187    2018-19               State          103300      Multiple

                      ESDName  ESDORganizationID  DistrictCode  \
0      Capital Region ESD 113           100004.0         14005
1      Capital Region ESD 113           100004.0         14005
2      Capital Region ESD 113           100004.0         14005
3      Capital Region ESD 113           100004.0         14005
4      Capital Region ESD 113           100004.0         14005
...                       ...                ...           ...
42183             State Total                0.0             0
42184             State Total                0.0             0
42185             State Total                0.0             0
42186             State Total                0.0             0
42187             State Total                0.0             0

                   DistrictName  DistrictORganizationID  SchoolCode  \
0      Aberdeen School District                  100010           0
1      Aberdeen School District                  100010           0
2      Aberdeen School District                  100010           0
3      Aberdeen School District                  100010           0
4      Aberdeen School District                  100010           0
...                         ...                     ...         ...
42183               State Total                       0           0
42184               State Total                       0           0
42185               State Total                       0           0
42186               State Total                       0           0
42187               State Total                       0           0

           SchoolName  SchoolOrganizationId PersonnelFlag       Source  \
0      District Total                     0  NonPersonnel      Federal
1      District Total                     0  NonPersonnel      Federal
2      District Total                     0  NonPersonnel      Federal
3      District Total                     0  NonPersonnel      Federal
4      District Total                     0  NonPersonnel      Federal
...               ...                   ...           ...          ...
42183     State Total                     0  NonPersonnel  State/Local
42184     State Total                     0  NonPersonnel  State/Local
42185     State Total                     0  NonPersonnel  State/Local
42186     State Total                     0     Personnel      Federal
42187     State Total                     0     Personnel  State/Local

       EnrollmentTotal                    Activity   Expenditure      DataAsOf
0              3479.42              Administration  0.000000e+00  2018-19Final
1              3479.42                 Instruction  2.412989e+05  2018-19Final
2              3479.42       Instructional Support  7.324499e+04  2018-19Final
3              3479.42        School Food Services  1.021709e+06  2018-19Final
4              3479.42  Maintenance and Operations  0.000000e+00  2018-19Final
...                ...                         ...           ...           ...
42183       1119010.74  Maintenance and Operations  6.064682e+08  2018-19Final
42184       1119010.74               Other Service  1.157654e+08  2018-19Final
42185       1119010.74              Public Actives  1.496495e+07  2018-19Final
42186       1119010.74                   Personnel  4.665821e+08  2018-19Final
42187       1119010.74                   Personnel  1.281321e+10  2018-19Final

[42188 rows x 18 columns]>

In [4]:
finance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42188 entries, 0 to 42187
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   SchoolYear              42188 non-null  object
 1   OrganizationalLevel     42188 non-null  object
 2   Organizationid          42188 non-null  int64
 3   County                  42188 non-null  object
 4   ESDName                 41985 non-null  object
 5   ESDORganizationID       41985 non-null  float64
 6   DistrictCode            42188 non-null  int64
 7   DistrictName            42188 non-null  object
 8   DistrictORganizationID  42188 non-null  int64
 9   SchoolCode              42188 non-null  int64
 10  SchoolName              42188 non-null  object
 11  SchoolOrganizationId    42188 non-null  int64
 12  PersonnelFlag           42188 non-null  object
 13  Source                  42188 non-null  object
 14  EnrollmentTotal         42188 non-null  float64
 15  Activity                42188 non-null  object
 16  Expenditure             42188 non-null  float64
 17  DataAsOf                42188 non-null  object
dtypes: float64(3), int64(5), object(10)
memory usage: 5.8+ MB

In [5]:
fin=finance.copy()

In [6]:
fin.drop(fin.iloc[:,[0,17]], axis=1, inplace=True)

In [7]:
fin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42188 entries, 0 to 42187
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   OrganizationalLevel     42188 non-null  object
 1   Organizationid          42188 non-null  int64
 2   County                  42188 non-null  object
 3   ESDName                 41985 non-null  object
 4   ESDORganizationID       41985 non-null  float64
 5   DistrictCode            42188 non-null  int64
 6   DistrictName            42188 non-null  object
 7   DistrictORganizationID  42188 non-null  int64
 8   SchoolCode              42188 non-null  int64
 9   SchoolName              42188 non-null  object
 10  SchoolOrganizationId    42188 non-null  int64
 11  PersonnelFlag           42188 non-null  object
 12  Source                  42188 non-null  object
 13  EnrollmentTotal         42188 non-null  float64
 14  Activity                42188 non-null  object
 15  Expenditure             42188 non-null  float64
dtypes: float64(3), int64(5), object(8)
memory usage: 5.2+ MB

In [8]:
fin.describe()

,Organizationid,ESDORganizationID,DistrictCode,DistrictORganizationID,SchoolCode,SchoolOrganizationId,EnrollmentTotal,Expenditure
count,42188.000000,41985.000000,42188.000000,42188.000000,42188.000000,42188.000000,4.218800e+04,4.218800e+04
mean,102228.510619,100019.693938,22235.481843,100195.998151,3104.305253,90301.821561,1.266042e+03,1.130949e+06
std,1668.189667,2028.905300,10403.093484,2062.075011,1535.057572,33170.921267,2.191376e+04,6.322362e+07
min,100010.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.100000e-01,-5.928147e+04
25%,100864.000000,100003.000000,17001.000000,100084.000000,2301.000000,100832.000000,2.125100e+02,0.000000e+00
50%,101980.000000,100006.000000,21301.000000,100159.000000,3209.000000,101949.000000,4.479700e+02,2.346380e+04
75%,102976.000000,100007.000000,31103.000000,100235.000000,4248.000000,102953.000000,6.497000e+02,1.417331e+05
max,106237.000000,105886.000000,39209.000000,106180.000000,5961.000000,106237.000000,1.119011e+06,1.281321e+10

In [9]:
fin

,OrganizationalLevel,Organizationid,County,ESDName,ESDORganizationID,DistrictCode,DistrictName,DistrictORganizationID,SchoolCode,SchoolName,SchoolOrganizationId,PersonnelFlag,Source,EnrollmentTotal,Activity,Expenditure
0,District,100010,Grays Harbor,Capital Region ESD 113,100004.0,14005,Aberdeen School District,100010,0,District Total,0,NonPersonnel,Federal,3479.42,Administration,0.000000e+00
1,District,100010,Grays Harbor,Capital Region ESD 113,100004.0,14005,Aberdeen School District,100010,0,District Total,0,NonPersonnel,Federal,3479.42,Instruction,2.412989e+05
2,District,100010,Grays Harbor,Capital Region ESD 113,100004.0,14005,Aberdeen School District,100010,0,District Total,0,NonPersonnel,Federal,3479.42,Instructional Support,7.324499e+04
3,District,100010,Grays Harbor,Capital Region ESD 113,100004.0,14005,Aberdeen School District,100010,0,District Total,0,NonPersonnel,Federal,3479.42,School Food Services,1.021709e+06
4,District,100010,Grays Harbor,Capital Region ESD 113,100004.0,14005,Aberdeen School District,100010,0,District Total,0,NonPersonnel,Federal,3479.42,Maintenance and Operations,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42183,State,103300,Multiple,State Total,0.0,0,State Total,0,0,State Total,0,NonPersonnel,State/Local,1119010.74,Maintenance and Operations,6.064682e+08
42184,State,103300,Multiple,State Total,0.0,0,State Total,0,0,State Total,0,NonPersonnel,State/Local,1119010.74,Other Service,1.157654e+08
42185,State,103300,Multiple,State Total,0.0,0,State Total,0,0,State Total,0,NonPersonnel,State/Local,1119010.74,Public Actives,1.496495e+07
42186,State,103300,Multiple,State Total,0.0,0,State Total,0,0,State Total,0,Personnel,Federal,1119010.74,Personnel,4.665821e+08
42187,State,103300,Multiple,State Total,0.0,0,State Total,0,0,State Total,0,Personnel,State/Local,1119010.74,Personnel,1.281321e+10

In [10]:
import numpy as np

In [11]:
fin.drop(fin.iloc[:,[0,1,3,4,10]], axis=1, inplace=True)

In [12]:
fin

,County,DistrictCode,DistrictName,DistrictORganizationID,SchoolCode,SchoolName,PersonnelFlag,Source,EnrollmentTotal,Activity,Expenditure
0,Grays Harbor,14005,Aberdeen School District,100010,0,District Total,NonPersonnel,Federal,3479.42,Administration,0.000000e+00
1,Grays Harbor,14005,Aberdeen School District,100010,0,District Total,NonPersonnel,Federal,3479.42,Instruction,2.412989e+05
2,Grays Harbor,14005,Aberdeen School District,100010,0,District Total,NonPersonnel,Federal,3479.42,Instructional Support,7.324499e+04
3,Grays Harbor,14005,Aberdeen School District,100010,0,District Total,NonPersonnel,Federal,3479.42,School Food Services,1.021709e+06
4,Grays Harbor,14005,Aberdeen School District,100010,0,District Total,NonPersonnel,Federal,3479.42,Maintenance and Operations,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...
42183,Multiple,0,State Total,0,0,State Total,NonPersonnel,State/Local,1119010.74,Maintenance and Operations,6.064682e+08
42184,Multiple,0,State Total,0,0,State Total,NonPersonnel,State/Local,1119010.74,Other Service,1.157654e+08
42185,Multiple,0,State Total,0,0,State Total,NonPersonnel,State/Local,1119010.74,Public Actives,1.496495e+07
42186,Multiple,0,State Total,0,0,State Total,Personnel,Federal,1119010.74,Personnel,4.665821e+08
42187,Multiple,0,State Total,0,0,State Total,Personnel,State/Local,1119010.74,Personnel,1.281321e+10

In [13]:
fin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42188 entries, 0 to 42187
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   County                  42188 non-null  object
 1   DistrictCode            42188 non-null  int64
 2   DistrictName            42188 non-null  object
 3   DistrictORganizationID  42188 non-null  int64
 4   SchoolCode              42188 non-null  int64
 5   SchoolName              42188 non-null  object
 6   PersonnelFlag           42188 non-null  object
 7   Source                  42188 non-null  object
 8   EnrollmentTotal         42188 non-null  float64
 9   Activity                42188 non-null  object
 10  Expenditure             42188 non-null  float64
dtypes: float64(2), int64(3), object(6)
memory usage: 3.5+ MB

In [14]:
fin.drop(columns='PersonnelFlag', axis=1, inplace=True)

In [15]:
fin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42188 entries, 0 to 42187
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   County                  42188 non-null  object
 1   DistrictCode            42188 non-null  int64
 2   DistrictName            42188 non-null  object
 3   DistrictORganizationID  42188 non-null  int64
 4   SchoolCode              42188 non-null  int64
 5   SchoolName              42188 non-null  object
 6   Source                  42188 non-null  object
 7   EnrollmentTotal         42188 non-null  float64
 8   Activity                42188 non-null  object
 9   Expenditure             42188 non-null  float64
dtypes: float64(2), int64(3), object(5)
memory usage: 3.2+ MB

In [16]:
fin.drop(columns='DistrictORganizationID', axis=1, inplace=True)

In [17]:
fin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42188 entries, 0 to 42187
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   County           42188 non-null  object
 1   DistrictCode     42188 non-null  int64
 2   DistrictName     42188 non-null  object
 3   SchoolCode       42188 non-null  int64
 4   SchoolName       42188 non-null  object
 5   Source           42188 non-null  object
 6   EnrollmentTotal  42188 non-null  float64
 7   Activity         42188 non-null  object
 8   Expenditure      42188 non-null  float64
dtypes: float64(2), int64(2), object(5)
memory usage: 2.9+ MB

In [18]:
fin1=fin.copy()

In [19]:
fin1=fin1[~fin1.County.str.contains("Multiple")]

In [20]:
fin1

,County,DistrictCode,DistrictName,SchoolCode,SchoolName,Source,EnrollmentTotal,Activity,Expenditure
0,Grays Harbor,14005,Aberdeen School District,0,District Total,Federal,3479.42,Administration,0.000000e+00
1,Grays Harbor,14005,Aberdeen School District,0,District Total,Federal,3479.42,Instruction,2.412989e+05
2,Grays Harbor,14005,Aberdeen School District,0,District Total,Federal,3479.42,Instructional Support,7.324499e+04
3,Grays Harbor,14005,Aberdeen School District,0,District Total,Federal,3479.42,School Food Services,1.021709e+06
4,Grays Harbor,14005,Aberdeen School District,0,District Total,Federal,3479.42,Maintenance and Operations,0.000000e+00
...,...,...,...,...,...,...,...,...,...
42167,Skagit,29103,Anacortes School District,5588,Open Doors,State/Local,10.90,School Food Services,0.000000e+00
42168,Skagit,29103,Anacortes School District,5588,Open Doors,State/Local,10.90,Pupil Transportation,4.084012e+02
42169,Skagit,29103,Anacortes School District,5588,Open Doors,State/Local,10.90,Maintenance and Operations,4.897681e+03
42170,Skagit,29103,Anacortes School District,5588,Open Doors,State/Local,10.90,Other Service,6.251677e+02
42171,Skagit,29103,Anacortes School District,5588,Open Doors,State/Local,10.90,Public Actives,1.158772e+01

In [21]:
fin1.to_csv('Finance_Report_Card_Clean.csv')